<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card my-5">

        <form class="card-body cardbody-color p-lg-5">

          <div class="text-center">
            <img src="/assets/img/logo.png" class="img-fluid profile-image-pic img-thumbnail my-3"
                 width="200px" alt="profile">
          </div>

          <div class="input-group mb-3">
            <i class="fa fa-user fa-xl input-group-text" aria-hidden="true"></i>
            <input type="text" class="form-control" id="Username" aria-describedby="emailHelp"
                   placeholder="User Name">
          </div>
          <div class="input-group mb-3">
            <i class="fa fa-key fa-xl input-group-text" aria-hidden="true"></i>
            <input type="password" class="form-control" id="password" placeholder="password">
          </div>
          <div>
            <button (click)="login()" class="btn btn-color px-5 mb-5">
              Login <i class="fa fa-sign-in" aria-hidden="true"></i>
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
